In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('test_scores.csv')

In [6]:
df.head()

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83